﻿@model List<String>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}
<script type="text/javascript" src="~/Scripts/jquery-3.1.1.intellisense.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    function MakeChart(urlsData) {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Time of Day');
        data.addColumn('number', 'Request Time ');
        for (var i = 0; i < urlsData.length; i++) {
            data.addRow([urlsData[i].RequestUrl, urlsData[i].RequestTime.Milliseconds]);
        }

        var options = {
            title: 'Request Time (Milliseconds)',
            hAxis: {
                title: 'URL',
            },
            vAxis: {
                title: 'Rating (scale of 1-10)'
            }
        };

        var chart = new google.visualization.ColumnChart(
          document.getElementById('chart1'));

        chart.draw(data, options);
    }

    function TestSiteRequest(url) {
        $('#resultTable tbody').html("");
        $.ajax({
            url: "/TestURL/Test?url=" + encodeURIComponent(url),
            success: function (data) {
                var chartData;
                for (var i = 0; i < data.length; i++) {
                    $('#resultTable tr:last').after('<tr><td>' + data[i].RequestUrl + '</td><td>' + data[i].RequestTime.Milliseconds + '</td></tr>');
                    chartData[i] = data[i].RequestTime.Milliseconds;
                    MakeChart(chartData);
                }
            }
        });
    }

    function GetDataForDomainName(url) {
        $('#resultTable tbody').html("");
        $.ajax({
            url: "/TestURL/GetDataForDomainName?domainName=" + encodeURIComponent(url),
            success: function (data) {
                var chartData = new Array();
                $('#barHeader').html(data[0].domainName);
                for (var i = 0; i < data.length; i++) {
                    $('#resultTable tr:last').after('<tr><td>' + data[i].RequestUrl + '</td><td>' + data[i].RequestTime.Milliseconds + '</td></tr>');
                }
                MakeChart(data);
            }
        });
    }
</script>


<div class="row">
    <ul class="nav nav-tabs">
        @foreach (var domainName in Model)
        {
                <li><a data-toggle="tab" onclick="GetDataForDomainName('@domainName')">@domainName</a></li>
        }
    </ul>
    <button type="button" class="btn btn-default" style="margin: 5px;" onclick="TestSiteRequest($('#inputdefault').val())">Test site speed</button><br>
    <label for="inputdefault">Input site URL</label>
    <input class="form-control" id="inputdefault" type="text">
    
    <div class="result" id="1">
        <h2></h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 id="barHeader">Bar Series</h3>
            </div>
            <div class="panel-body">
                <div id="chart1"></div>
            </div>
        </div>
        <table class="table table-condensed" id="resultTable">
            <thead>
                <tr>
                    <th>URL</th>
                    <th>Request Time (Milliseconds)</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>